{% extends "base.html" %}
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><h2>Quiz</h2></a>
        {% block navbar %}
            {{ super() }}
        {% endblock %}
    </div>
    {% block content %}
        <div class="container">
            <div class="row" style="margin-top: 3em;">
                <div class="col">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                          </div>
                          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                          <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                          </div>
                          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                          <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                          </div>
                          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                          <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
                <div class="col">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning show fade" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if form.errors %}
                        <div class="alert alert-warning show fade" role="alert">
                            {{ form.errors }}}
                        </div>
                    {% endif %}
                    <div class="page-header">
                        <h3>Add New Quiz</h3>
                    </div>
                    <form action="{{ url_for('examiners.addnewquiz') }}" method="post" role="form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            {{ form.name.label(for="quiznamefield") }}
                            {{ form.name(class_="form-control", id="quiznamefield") }}
                        </div>
                        {{ form.submit(class_="btn btn-primary") }}
                    </form>
                </div>
            </div>
            <div class="row"></div>
        </div>
    {% endblock %}
</body>