{% extends "base.html" %}
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><h2>Quiz</h2></a>
        {% block navbar %}
            {{ super() }}
        {% endblock %}
    </div>
    {% block content %}
        <div class="container">
            <div class="row" style="margin-top: 3em;">
                <div class="col">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning show fade" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if form.errors %}
                        <div class="alert alert-warning show fade" role="alert">
                            {{ form.errors }}}
                        </div>
                    {% endif %}
                    <div class="page-header">
                        <h3>Add New Quiz</h3>
                    </div>
                    <form action="{{ url_for('examiners.addnewquiz') }}" method="post" role="form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            {{ form.name.label(for="quiznamefield") }}
                            {{ form.name(class_="form-control", id="quiznamefield") }}
                        </div>
                        {{ form.submit(class_="btn btn-primary") }}
                    </form>
                </div>
            </div>
            <div class="row"></div>
        </div>
    {% endblock %}
</body>