<head>
  {% block head%}
  <title> {% block title %}{% endblock %} Quiz</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  {% endblock %}
</head>

<body>
  {% block body %}
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('main.index') }}"><h2>Quiz</h2></a>
      {% block navbar %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-white">
          <li class="nav-item d-flex flex-row align-items-center">
            {% if current_user.is_authenticated %}
              <h3 class="mr-2">Hey, {{ current_user.fname }}</h3>
              <button type="button" class="btn btn-secondary btn-sm"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></button>
            {% else %}
            <button type="button" class="btn btn-secondary btn-sm"><a class="nav-link" href="{{ url_for('main.loginpage') }}">Login</a></button>
            {% endif %}
          </li>
        </ul>
      </div>
      {% endblock %}
    </div>
  {% endblock %}
</body>

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}