{% extends "base.html" %}

{% block head%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='customcss/homepage.css') }}">
{% endblock %}

<body>
    
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><h2>Quiz</h2></a>
        {% block navbar %}
            {{ super() }}
        {% endblock %}
    </div>
    
    {% block content %}
        <div class="container">
            <main>
                <div class="row" style="margin-top: 3em;">
                    <div id="reg-form-column" class="col ">
                        <div class="page-header">
                            <h3>Register</h3>
                        </div>
                        {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning show fade" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% if form.errors %}
                            <div class="alert alert-warning show fade" role="alert">
                                {{ form.errors }}}
                            </div>
                        {% endif %}
                        <form id="indexcss" action="{{ url_for('auth.register') }}" method="post" role="form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        {{ form.fname.label(for="fnamefield") }}
                                        {{ form.fname(class_="form-control", id="fnamefield") }}
                                    </div>
                                    <div class="col">
                                        {{ form.lname.label(for="lnamefield") }}
                                        {{ form.lname(class_="form-control", id="lnamefield") }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.email.label(for="email") }}
                                {{ form.email(class_="form-control", id="emailfield") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(for="passwordfield") }}
                                {{ form.password(class_="form-control", id="passwordfield") }}
                            </div>
                            <div class="form-group">
                                {{ form.password2.label(for="password2field") }}
                                {{ form.password2(class_="form-control", id="password2field") }}
                            </div>
                            <div class="form-group">
                                {{ form.role(class_="custom-select") }}
                            </div>
                            {{ form.submit(class_="btn btn-primary") }}
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </main>
        </div>
    {% endblock %}
</body>